@import './grafica.scss', './juego.scss', './mapa.scss';

$gris-azul: #abb8c8;
$gris: #c9c7c7;
$fondo: #e2e0e2;
$azul: #287fdb;
$azul-flojo: #f0ffff;

$verde-light: lighten( green, 50% );

body
{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    height: 810px;
    header
    {
        background-color: $azul;
        color: white;
        text-align: center;
        padding: 0.1px 0;
    }
    .principal
    {
        flex-grow: 1;
    }
    .botonPartida
    {
        border: $border;
        background-color: $azul-flojo;
        color: $azul;
        padding: 5px 8px;
        border-radius: 5px;
    }
    .botonPartida:disabled
    {
        border-color: $gris-azul;
        background-color: $gris;
        color: $gris-azul;
    }
    .botonPartida:hover
    {
        cursor: pointer;
        background-color: $gris;
    }

    .botonPartida:active
    {
        background-color: #d5e0eb;
        outline: none;
    }
}


@media (min-width: 600px)
{
    main
    {
        display: grid;
        column-gap: 0;
        row-gap: 0;
        grid-template-columns: 65% 35%;
        grid-template-rows: 60% 40%;
        grid-template-areas: 
        "paises mapa" "graficaTiempo graficaPaises";
        #paises, #mapa
        {
            min-height: none;
        }

    }

}

.ciudadypais
{
    display: flex;
    flex-direction: column;
}

.correcto
{
    background: $verde-light;
}